@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
@import './helpers/null';
@import './modifiers.scss';

body {
    height: 100%;
    line-height: 1;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    background: url('/img/game/themes/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #FFD700;
    text-shadow: 1px 1px 1px #000;
}

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0); //fallback
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }

    &__text {
        font-size: 90px;
        font-style: italic;
        color: greenyellow;
        text-shadow: 4px 5px 10px black;
        transform: translateX(20px);

        animation: modal-text 0.4s linear infinite alternate-reverse;
    }

    &__extra-points {
        font-size: 48px;
        margin-top: 50px;
    }
}

.extra-points {
    &__number {
        color: wheat;
        text-shadow: 0px 1px 10px rgb(172, 36, 172);
    }
}

@keyframes modal-text {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;

    border: 1px solid black;
    position: relative;
}

.main {
  &__aside-progress {
    position: absolute;
    top: 0;
    right: -100px;
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  flex: 1 0 33.333%;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 50px;
  position: relative;

  &__line {
    position: absolute;
    z-index: 1;
    background-color: gold;
    width: 5px;
    left: 48%;

    &--second {
      height: 150px;
    }

    &--third {
      height: 300px;
    }
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    height: 300px;
    width: 5px;
    left: 48%;
    background-color: #d2d2d2;
  }

  & a {
    &:hover {
      scale: 1.1;
    }
  }

  &__level {
    padding: 20px;
    border-radius: 50%;
    z-index: 2;

    font-size: 32px;
    color: inherit;
    background-color: purple;
    border: 5px solid #d2d2d2;

    &.progress-bar__level--active {
      border-color: gold;
      box-shadow: rgb(230, 255, 0) 0px 54px 55px, rgb(230, 255, 0) 0px -12px 30px, rgb(230, 255, 0) 0px 4px 6px, rgb(230, 255, 0) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    }
  }
}

@import './pages/index.scss';
@import './pages/rules.scss';
@import './pages/level1.scss';
@import './pages/level2.scss';
@import './pages/level3.scss';
@import './pages/lose.scss';
@import './pages/win.scss';
